
<div class="wrapper">
    <div class="view_main">
        <div class="view_wrap list-view" style="display: block;">
            <div class="view_item">
                <div class="vi_left">
                    <img src="" alt="User Image">
                    <p class="content">Username</p>
                    <p class="content">Date Replied</p>
                </div>
                <div class="vi_right">
                    <p class="description"></p>
                    <p class="content">This Thread is feeling (insert sentiment ANAL)</p>
                    <div class="btn" style="background-color: #4abd3e;">Like </div>
                    <div class="btn" style="background-color: red;">Dislike </div>
                </div>
            </div>
        </div>
    </div>
    </div>
